@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lobstertwo/v22/BngMUXZGTXPUvIoyV6yN5-fN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lobstertwo/v22/BngRUXZGTXPUvIoyV6yN5-92w7CGwRg.ttf) format('truetype');
}
